---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Pago Instrumentum">
	<main>
	
	</main>
</Layout>

<style>
	main {
		margin: 0;
		padding: 0;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
	}
</style>
